<center>
    <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Marking Point {{number}} </h2>
</center>
{{#if messagesJourney}}
    <div class="alert alert-success">{{messagesJourney}}</div>
{{else if messagesSucc}}
    <div class="alert alert-success">{{messagesSucc}}</div>
{{else if messagesErr}}
    <div class="alert alert-danger">{{messagesErr}}</div>
{{else if validations}}
    {{#each validations}}
        <div class="alert alert-danger">{{this.msg}}</div>
    {{/each}}
{{/if}}

<hr>
<form action="/user/create-marker" method="post">
    <div class="form-group col-md-12">
        <label for="Name Place">Name Place</label>
        <input type="text" class="form-control" name="namePlace" placeholder="Name Place" required>
    </div>
    <div class="form-group col-md-5">
        <label for="Latitude">Latitude</label>
        <input type="text" class="form-control" name="lat" id="lat" readonly>
    </div>
    <div class="form-group col-md-5">
        <label for="Longitude">Longitude</label>
        <input type="text" class="form-control" name="lng" id="lng" readonly>
    </div>
    <div class="form-group col-md-2">
        <label for="Longitude">Position</label>
        <a class="btn btn-default" onclick="myPosition()">Check</a>
    </div>
    <div class="form-group col-md-12">
        <span>Click on Position button to get your current position</span>
        <div id="map"></div>
    </div>
    <div class="form-group col-md-12">
        <center>
            <button type="submit" class="btn btn-success">Add <i class="fa fa-puzzle-piece" aria-hidden="true"></i></button>
            <a href="/user/create-marker-done" class="btn btn-primary">Done <i class="fa fa-check-circle" aria-hidden="true"></i></a>
        </center>
    </div>
</form>